{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/bg1.jpg') }}')"> 
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>View Details</h1>
            <h2 class="subheading">Member records details</h2>
            <span class="meta">
              <a href="#">CODE ONCE THINK TWICE</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <div class="container">
    <a href="/sp">
      <button class="btn btn-danger">Stored Details</button>
      <h4> Click here to view Recorded Information </h4>
    </a>
  </div>

  <div class="container">
    <p>Vulnerability management member list details</details></p>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>id</th>
          <th>vulnid</th>
          <th>name</th>
          <th>description</th>
          <th>username</th>
          <th>email</th>
          <th>Segment</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <td>{{ post.id }}</td>
          <td>{{ post.vulnid }}</td>
          <td>{{ post.name }}</td>
          <td>{{ post.description }}</td>
          <td>{{ post.username }}</td>
          <td>{{ post.email }}</td>
          <td>{{ post.Segment }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <hr>
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script

{% endblock %}
